@font-face {
	font-family: myFont;
	src: url("./bradley-hand-itc.ttf");
	}

#end-game-container {
   	width: 1024px;
    height: 512px;
    margin: 0px auto;
}

#background {
    border: 2px solid black;
    position: absolute;
    z-index: 3;
}

#ninja {
    position: relative;
    z-index: 10;
    width: 200px;
    height: 200px;
    padding-left: 420px;
    padding-top: 130px;
}

#play-button {
    font-size: 30px;
    font-family: myFont;
    font-weight: bold;
    font: black;
    text-align: center;
    cursor: pointer;
    position: relative;
    z-index: 15;
    display: block;
    padding: 5px;
    margin-left: 430px;
    margin-right: 400px;
    margin-top: 10px;
}

a {
    border: 2px solid black;
    border-radius: 15px;
    color: black;
    background: #E8871D;
    text-decoration: none;
} 

a:hover {
    color: black;
    background: #F0AA5E;
}

a:active {
    color: black;
}

a:visited {
     color:black;
}
