@font-face {
	font-family: myFont;
	src: url("./bradley-hand-itc.ttf");
	}

#instructions-container {
   	width: 1024px;
    height: 512px;
    margin: 0px auto;
}

#background {
    border: 2px solid black;
    filter: brightness(20%);
    position: absolute;
    z-index: 3;
}

#scroll {
    position: absolute;
    z-index: 5;
    width: 600px;
    height: 450px;
    padding-top: 30px;
    padding-left: 220px;
}

#instructions {
    position: relative;
    z-index: 10;
    font-family: myFont;
    text-align: center;
    color: #804000;;
    font-size: 18px;
    padding-left: 20px;
    padding-top: 60px;
    padding-bottom: 10px;
  
}

h1 {
    text-decoration: underline;
    text-align: center;
}

span {
    font-weight: bold;
    margin-right: 4px;
    border: 1px solid #804000;
}

.keys {
    margin-bottom: 5px;
    padding-left: 450px;
    text-align: left;
}

#jump-key {
    padding-right: 5px;
    padding-left: 5px;
    margin-right: 10px;
}

#back {
    position: relative;
    z-index: 15;
    font-family: myFont;
    padding-left: 280px;
    margin-top: 10px;
}

a:hover {
    color: #804000;
}

a:active {
    color: #804000;
}

a:visited {
     color:#804000;
}
