#game-canvas-container {
	width: 1024px;
    height: 512px;
    margin: 0px auto;
    border: 2px solid black;
}

canvas {
    position: absolute;
}

#game-canvas {
    z-index: 10
}

#background-canvas {
    z-index: 1
}

img {
    width: 20px;
    float: right;
    z-index: 20;
    padding: 10px;
    position: relative;
}

label {
    position: relative;
    float: right;
    z-index: 20;
    font-size: 20px;
    padding: 10px;
}